<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <a href="https://nitish-alpha-blog.herokuapp.com" target= "_blank" class="text-white">Nitish Anand</a></small>
  </div>
</footer>